body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  position: relative;
  text-transform: uppercase;
  color: #333;
  background-color: #f3f3f3;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: -10px 0 15px #dedede, 10px 0 25px #dedede;
          box-shadow: -10px 0 15px #dedede, 10px 0 25px #dedede;
}

.main-section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

/* Шапка сайта*/

.main-header {
  position: relative;
}

.index-logo {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.main-header .main-navigation {
  margin: 0 72px;
}

.main-header .site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  padding-top: 14px;
  padding-right: 5px;
  padding-bottom: 16px;
  padding-left: 5px;
  list-style-type: none;
}

.site-navigation li:nth-child(1), .site-navigation li:nth-child(2) {
  padding-left: 0;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-right: 25px;
}

.site-navigation li:nth-child(3), .site-navigation li:nth-child(4) {
  padding-right: 0;
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  padding-left: 25px;
}

.site-navigation a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: .3;
  color: #000;
}

/* Баннер на главной */

.index-banner {
  position: relative;
  margin-bottom: 60px;
}

.index-banner .banner-wrapper {
  width: 100%;
  height: 508px;
  background: #3f5f73 url('../img/index-background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 21%;
}

.index-banner img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  padding: 76px;
}

.index-banner .banner-mask {
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 57px;
  background: url('../img/mask-max.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Заголовок */

.features {
  margin-bottom: 50px;
  text-align: center;
}

.features h1 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  color: #000;
}

.features p {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  color: #000;
}

/* Причины */

.feature-list, .feature-list .illustrated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub-feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-list, .sub-feature-list, .feature-list li, .sub-feature-list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.illustrated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
}

.illustrated:nth-child(2n+1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-item {
  text-align: center;
}

.sub-feature {
  width: 400px;
  background-color: #fff;
}

.feature-list>li:nth-last-child(-n+3) {
  width: 400px;
  min-height: 256px;
  background-color: #eee;
}

.feature-item-title {
  width: 400px;
  min-height: 256px;
}

/*Стилизация текста в причинах*/

.feature-item h3, .feature-item-title h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  margin-top: 47px;
  margin-bottom: 24px;
  padding: 0 124px;
  color: #000;
}

.feature-item span {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  display: block;
  margin-bottom: 21px;
  padding: 0;
  color: #333;
}

.feature-item span::before, .feature-item span::after {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 1px;
  content: '';
  vertical-align: middle;
  background-color: #333;
}

.title-illustrated span::before, .title-illustrated span::after {
  background-color: #fff;
}

.feature-item span::before {
  left: -6px;
  margin-left: -100%;
}

.feature-item span::after {
  right: -6px;
  margin-right: -100%;
}

.feature-item p, .feature-item-title p {
  line-height: 21px;
  padding: 0 48px;
}

li:nth-last-child(-n+3).feature-item-title p {
  padding: 0 65px;
}

.title-illustrated h3, .title-illustrated span, .title-illustrated p {
  color: #fff;
}

/*Стилизация вложенного списка*/

.sub-feature-list .feature-item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 161px;
}

.sub-feature h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  display: block;
  margin: 0;
  margin-bottom: 24px;
  color: #000;
  background-color: #fff;
}

.sub-feature p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  margin-bottom: 82px;
  padding: 0 55px;
  color: #333;
  background-color: #fff;
}

.sub-feature-list .feature-housing::before, .sub-feature-list .feature-food::before, .sub-feature-list .feature-souvenirs::before {
  position: absolute;
  bottom: 197px;
  left: 50%;
  content: '';
}

.sub-feature-list .feature-housing::before {
  width: 77px;
  height: 75px;
  margin-left: -39px;
  background: url('../img/icon-1.svg')no-repeat center;
}

.sub-feature-list .feature-food::before {
  width: 64px;
  height: 75px;
  margin-left: -34px;
  background: url('../img/icon-2.svg')no-repeat center;
}

.sub-feature-list .feature-souvenirs::before {
  width: 64px;
  height: 76px;
  margin-left: -32px;
  background: url('../img/icon-3.svg')no-repeat center;
}

/*Стилизация заголовка и подписи к форме*/

.search-hotels {
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.search-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  color: #000;
}

.search-hotels p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 47px;
  color: #000;
}

/*Стилизация формы - кнопка открытия/закрытия формы*/

.button-search {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;
  min-height: 86px;
  margin: 0 auto;
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #766357;
}

.button-search:hover, .button-search:focus {
  background-color: #604e43;
}

.button-search:active {
  color: #928a85;
  background-color: #503e33;
}

/*Стилизация формы*/

.search-hotels-form {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  position: absolute;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;
  min-height: 395px;
  padding: 55px;
  -webkit-animation-name: open-form;
          animation-name: open-form;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, .3);
          box-shadow: 0 7px 14px rgba(0, 0, 0, .3);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.frame-content {
  margin: 0;
  padding: 0;
  border: none;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 29px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-date {
  position: relative;
  width: 100%;
}

.item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-number:nth-child(2n-1) {
  padding-right: 3px;
}

.item-number:nth-child(2n) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.item-number:nth-child(2n) label {
  margin-right: 27px;
}

.about-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-item label, .item-number label {
  display: inline-block;
  padding: 6px 0;
}

.search-item input, .about-number input {
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.item-date input {
  width: 346px;
  margin-left: auto;
  padding: 6px;
  padding-right: 40px;
  padding-left: 13px;
}

.item-date input:hover {
  background-color: #ebebeb;
}

.item-date input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #fff;
}

.item-date .calendar {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background: none;
}

.calendar path {
  fill: rgba(0, 0, 0, .3);
}

.calendar:hover path {
  fill: rgba(0, 0, 0, 1);
}

.calendar:active path {
  fill: #81b3d2;
}

.about-number input {
  width: 38px;
  padding: 6px 5px;
  text-align: center;
}

.about-number input:hover {
  background-color: #ebebeb;
}

.about-number input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #fff;
}

.minus-button, .plus-button {
  font-size: 0;
  position: relative;
  width: 38px;
  height: 38px;
  border: 0;
  outline: none;
  background-color: #f2f2f2;
}

.minus-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 3px;
  margin-left: -4px;
  content: '';
  background-color: #a9a9a9;
}

.plus-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 3px;
  margin-left: -4px;
  content: '';
  background-color: #a9a9a9;
}

.plus-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 11px;
  margin-top: -4px;
  content: '';
  background-color: #a9a9a9;
}

.minus-button:hover::before, .plus-button:hover::before, .plus-button:hover::after {
  background-color: #000;
}

.minus-button:active::before, .plus-button:active::before, .plus-button:active::after {
  background-color: #81b3d2;
}

.search-hotels-form .button-search-submit {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  display: block;
  width: 100%;
  min-height: 58px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #81b3d2;
}

.search-hotels-form .button-search-submit:hover, .search-hotels-form .button-search-submit:focus {
  background-color: #669ec0;
}

.search-hotels-form .button-search-submit:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/* Анимация формы */

@-webkit-keyframes open-form {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes open-form {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.search-form-hide {
  display: none;
}

.search-form-error {
  -webkit-animation: shake .6s;
          animation: shake .6s;
}

/* Карта */

.section-map {
  font-size: 0;
  line-height: 0;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.section-map iframe {
  position: absolute;
  z-index: 25;
  top: 0;
  bottom: 0;
  width: 1200px;
  height: 593px;
  margin: 0;
  padding: 0;
}

.section-map .map-image {
  width: 1200px;
  height: 593px;
}

/*Футер*/

.index-footer {
  position: relative;
  z-index: 50;
  bottom: 0;
  margin-top: -120px;
  opacity: .9;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #000;
  background-color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-hashtag, .footer-social, .footer-copyright {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-right: 10px;
  padding-left: 10px;
}

.main-footer .footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  display: block;
  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin: 0;
  padding: 0;
  padding-left: 114px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #669ec0;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  margin: 0;
}

.footer-copyright a {
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 93px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright:hover path, .footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  opacity: .3;
  fill: #000;
}

.copyright-button .website-by {
  font-size: 14px;
  line-height: 26px;
  padding-right: 8px;
  color: #000;
}

/*Страница поиска отеля*/

.site-navigation .active {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: #766357;
}

/*Раздел фильтров*/

.filters {
  color: #fff;
  background: url('../img/catalog-background.jpg') no-repeat;
  background-position: 50% 15%;
}

.filters .filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 72px;
  margin-left: 72px;
  padding-top: 27px;
  padding-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters-form .infrastructure, .filters-form .type-of-hotel, .filters-form .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters-form .infrastructure {
  min-width: 145px;
  margin-right: 110px;
}

.filters-form .price {
  min-width: 145px;
  margin-left: auto;
}

.filters-form fieldset>legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.infrastructure label, .type-of-hotel label {
  font-size: 14px;
  line-height: 21px;
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 40px;
}

.infrastructure label:last-child, .type-of-hotel label:last-child {
  margin-bottom: 0;
}

.infrastructure label::before, .type-of-hotel label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  content: '';
  background: url('../img/checkbox-off.svg') no-repeat center;
}

.infrastructure input[type='checkbox']:checked+label::before, .type-of-hotel input[type='checkbox']:checked+label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  content: '';
  background: url('../img/checkbox-on.svg') no-repeat center;
}

.infrastructure input[type='checkbox']:disabled+label::before, .type-of-hotel input[type='checkbox']:disabled+label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  content: '';
  background: url('../img/checkbox-off-disabled.svg') no-repeat center;
}

.infrastructure input[type='checkbox']:checked:disabled+label::before, .type-of-hotel input[type='checkbox']:checked:disabled+label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  content: '';
  background: url('../img/checkbox-on-disabled.svg') no-repeat center;
}

.infrastructure input:focus+label, .type-of-hotel input:focus+label {
  outline: 2px solid #81b3d2;
  outline-offset: 2px;
}

.price {
  width: 328px;
}

.price .price-per-day {
  width: 318px;
  padding-left: 10px;
}

.price .price-per-day legend {
  margin-bottom: 10px;
  padding-left: 2px;
}

.price-controls {
  font-size: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 158px;
  width: 2px;
  height: 22px;
  content: '';
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
}

.price-controls label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  padding: 5px 0;
  cursor: pointer;
  vertical-align: top;
}

.price-controls .min-price, .price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 57px;
}

.price-controls input {
  font: inherit;
  width: 50px;
  margin: 0;
  color: inherit;
  border: none;
  background: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  width: 255px;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  font-size: 14px;
  line-height: 20px;
  display: block;
  width: 137px;
  margin: 0 auto;
  padding: 6px 20px;
  cursor: pointer;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  background: transparent;
}

.btn-transparent:hover {
  color: #000;
  background: #fff;
}

.btn-transparent:focus {
  outline: 2px solid #81b3d2;
  outline-offset: -2px;
}

/*Параметры сортировки*/

.result-of-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 72px;
  margin-left: 72px;
  padding: 30px 0;
  padding-bottom: 25px;
}

.result-of-sorting .number-of-found {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  margin-right: 48px;
  padding: 0;
  color: #000;
}

.sorting-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting-by-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sorting-by span {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-right: 40px;
  color: #000;
}

.sorting-by-list a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-right: 33px;
  text-decoration: none;
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-list .selected-type {
  color: #81b3d2;
  border: none;
}

.sorting-by-list a:hover, .sorting-by-list a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-list a:active {
  color: #000;
  border-bottom: none;
}

.sorting-buttons {
  margin-left: auto;
  padding-top: 5px;
}

.sorting-buttons .sorting-up, .sorting-buttons .sorting-down {
  font-size: 0;
  display: inline-block;
  margin-left: 9px;
}

.sorting-up:hover path, .sorting-down:hover path, .sorting-up:focus path, .sorting-down:focus path {
  fill: #231f20;
}

.sorting-up:active path, .sorting-down:active path {
  fill: #81b3d2;
}

.selected-sorting path {
  fill: #81b3d2;
}

/*Стилизация спика найденных отелей*/

.found-hotels .found-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 72px;
  border-top: 1px solid #e5e5e5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.found-item .hotels-rating {
  margin-left: auto;
}

.found-hotels .found-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.found-item img {
  width: 136px;
  height: 90px;
  margin-right: 29px;
  background-color: #d3e4ef;
}

.hotels-info .name-of-hotel {
  max-width: 700px;
  margin-top: -5px;
  margin-bottom: 7px;
}

.name-of-hotel a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  word-wrap: break-word;
  color: #000;
}

.name-of-hotel a:hover, .name-of-hotel a:focus {
  color: #81b3d2;
}

.name-of-hotel a:active {
  color: rgba(0, 0, 0, .3);
}

.hotels-info .hotels-type-price {
  font-size: 0;
  margin: 0;
  margin-bottom: 14px;
}

.hotels-type-price .type-of-hotel, .hotels-type-price .price-for-hotel {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  display: inline-block;
  width: 110px;
  padding-right: 6px;
  vertical-align: top;
  word-wrap: break-word;
  color: #333;
}

.hotels-info .hotel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel-buttons .button {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 110px;
  padding: 3px 17px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #81b3d2;
}

.hotel-buttons .button-info {
  background-color: #81b3d2;
}

.hotel-buttons .button-booking {
  margin-left: 6px;
  background-color: #766357;
}

.hotel-buttons .button-info:hover, .hotel-buttons .button-info:focus {
  background-color: #669ec0;
}

.hotel-buttons .button-booking:hover, .hotel-buttons .button-booking:focus {
  background-color: #604e43;
}

.hotel-buttons .button-info:active {
  color: #a7c9dd;
  background-color: #5496bd;
}

.hotel-buttons .button-booking:active {
  color: #9e958f;
  background-color: #503e33;
}

.hotels-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotels-rating .number-of-stars {
  font-size: 0;
  width: 110px;
  text-align: right;
}

.number-of-stars .star {
  display: inline-block;
  width: 18px;
  height: 17px;
  padding-right: 6px;
  background: url('../img/star.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.number-of-stars .star:last-child {
  padding-right: 0;
}

.hotels-rating .raiting {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 110px;
  padding: 3px;
  text-align: center;
  color: #666;
  background-color: #f2f2f2;
}
